.canvas-wide {
	border: 1px solid black;
	height: 720px;
	float: left;
	margin-left: 10px;
	width: 90%;
}
#canvas {
	position: relative;
	margin-left: 0;
	max-width: 90%;
}
.dragbox {
	width: 10px;
	height: 10px;
	border: 1px solid green;
}
.window {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 50px;
	text-align: center;
	margin: 0px;
	box-shadow: 0px 0px 1px 1px black;
	display: table;
}
svg {
	z-index: -1;
}

strong {
	margin: 20px;
}
.settingtab {
	float: left;
	display: inline-block;
}
.shape {
	width: 100px;
	height: 50px;
	margin: 3px;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 30px;
	box-shadow: 0 0 2px black;
}
.shape:hover:not(.selected), .arrowSelector:hover:not(.selected) {
	box-shadow: 1px 1px 5px black;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}
.round {
	border-radius: 15px;
}
.ellipsis {
	border-radius: 100%;
}
.ui-resizable {
	position: absolute;
}
.ep {
	width: 100%;
	height: 15px;
	/*margin: 0 auto; */
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	/*left:50%;
	margin-left: -15px;*/
}
.edit {
	background-color: #3671d1;
	width: 15px;
	height: 15px;
	/*margin: 0 auto; */
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left:25%;
	margin-left: -7.5px;
}
.delete {
	background-color: red;
	width: 15px;
	height: 15px;
	/*margin: 0 auto; */
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left:75%;
	margin-left: -7.5px;
}
.nodeInput {
	width: 100%;
	background-color: inherit;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nodeInput:focus {
	outline: none;
}
.windowText {
	display: table-cell;
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 15px;
}
/*.aLabel.jtk-hover{
    background-color: #1e8151;
    color: white;
}*/
.aLabel {
    opacity: 0.8;
    padding: 0.3em;
	cursor: text;
	background-color: white;
}
.dragHover {
    box-shadow: 0px 0px 2px 2px black;
}
#arrowTypes {
	width: 100%;
}

.arrowSelector {
	margin: 5px;
	box-shadow: 0 0 2px black;
	cursor: pointer;
}
.selected {
	box-shadow: 1px 1px 5px 2px blue;
}
.settingsHeader {
	text-align: center;
	margin: 5px;
}
.selectedWindow {
	box-shadow: 1px 1px 5px 2px blue;
}

