{% block content %}

<!-- username search -->

    {% if users.count > 0 %}
        {% for user in users %}
        <li>
            <a id="addmember" onclick="AddTo('{{user.username}}')" style="color:black;" href="#"> {{user.username}} </a>
        </li>
        {% endfor %}
    {% endif %}

<!-- Memebers added to list -->

    {% for member in memberlist %}

            <div class="form-inline">
                    <div class="form-group mb-2">
                        <input class="form-control-plaintext" type="text" readonly id="remove_member" value="{{member.username}}">
                    </div>
                        <input id="remove-member-btn" onclick="removeMembers('{{member.username}}')"
                        type="button" name="ajax-search" value="Remove User" class="btn btn-danger" style="float: right;">
                </div>
    {% endfor %}

{% endblock content %}


