<!--Copyright 2018 Sparta Consulting Oy-->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block navbar %}
        {% include 'usmapp/messages.html' %}
        <nav class="navbar">
            <a class="navbar-brand" href="/main">USM</a>
            <div class="dropdown show profile-dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="profile-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.first_name}} {{user.last_name}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item navbar-dropdown" href="/profile" id="profile-btn"><i class="material-icons navbar-icon">account_circle</i><span>Profile</span></a>
                        <a class="dropdown-item navbar-dropdown" href="/help"><i class="material-icons navbar-icon">info_outline</i><span>Help</span></a>
                        <a class="dropdown-item navbar-dropdown" href="/logout" id="logout-btn"><i class="material-icons navbar-icon">exit_to_app</i><span>Logout</span></a>
                    </div>
                </div>
        </nav>
        {% endblock navbar %}
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
    </body>
    {% block script %}
        <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
        <script src="{% static 'js/bootstrap.js' %}" ></script>
    {% endblock script %}
</html>