<!-- List concepts -->

<table class="table table-hover table-light table-usm">
        <thead>
            <tr>
                <th scope="col-4">Name</th>
                <th scope="col-4">State</th>
                <th scope="col-4">Modified</th>
            </tr>
        </thead>
        <tbody>
            {% if concepts %}
                {% for concept in concepts %}
                    <tr class="link-table {% if concept.state.name == 'BLOCKED' %}table-danger
                                        {% elif concept.state.name == 'Released' %}table-success
                                        {% endif %}"
                                        {% if 'Can change project' in permissions or concept.state.name != 'BLOCKED' %}
                                        onclick="window.location='{% url 'conceptpage' project.id concept.id %}'"{% endif %}>
                        <td class="middle-aligned">{{ concept.name }}</td>
                        <td class="middle-aligned">{{ concept.state }}</td>
                        <td class="middle-aligned">{{ concept.createtime }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No concepts found.</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </tbody>
</table>