<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/concept_page.css' %}">
    <title>Concept page</title>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="/main">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="{% url 'projectpage' project.id %} ">{{ project.name }}</a></li>
                    <li class="breadcrumb-item">{{concept.name}}</li>
                </ol>
            </nav>
        </div>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a id="concept-name-btn" class="nav-link active concept-tab" data-toggle="tab" href="#conceptname" role="tab" aria-controls="conceptname" aria-selected="true">{{concept.name}}</a>
                </li>
                {% if 'Can change concept' in permission_list %}
                <li>
                    <a id="concept-settings-btn" class="nav-link concept-tab" data-toggle="tab" href="#conceptsettings" role="tab" aria-controls="conceptsettings" aria-selected="true">Settings</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="conceptManagement">
                <div class="tab-pane fade show active" id="conceptname" role="tabpanel" aria-labelledby="conceptname-tab">
                    <div class="justify-content-end zero-size-element">
                            <button type="button" class="btn btn-success btn-project-tab" disabled>Edit</button>
                    </div>
                    <div>
                         <p class="text-centered"><img src="{{ first_data.image }}" id="concept-img" class="img-fluid" alt="Concept image"></p>
                        <ul class="nav nav-tabs hover-bottom">
                            <li class="nav-item">
                                <a class="nav-link active">Comments</a>
                            </li>
                        </ul>
                        {% for comment in comments %}
                            {% if comment.deleted == False %}
                                <div class="comment row">
                                    <div class="col-10 cmt-left">
                                        <p class="cmt-sender">{{ comment.created_by }}:</p><br>
                                        <div class="msg-container">
                                            <p class="cmt-msg">{{ comment.message }}</p>
                                        </div>
                                    </div>
                                    <div class="col-2 cmt-right">
                                        {% if comment.created_by == user or "Can delete comment" in permission_list %}
                                            <form action="" method="GET" id="{{ forloop.counter }}">
                                                <input disabled id="delete-comment-btn" type="button" name="button" class="btn btn-sm disabled-delete" value="x">
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="row col-12 date-container"><span class="cmt-date justify-content-end">{{ comment.createtime }}</span></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="comment-form">
                            <form action="" method="GET" class="form-inline">
                                <div class="form-group col-md-12">
                                    <textarea disabled class='form-control col-md-8 disabled' rows='2' placeholder='Write a comment'></textarea>
                                    <div class="col-md-4">
                                        <input disabled id="send-comment-btn" class="btn btn-success" value="Send" name="button" type="button">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="page-bottom"></div>
                    </div>
                </div>
                {% if "Can change concept" in permission_list and "Can delete concept" in permission_list %}
                <div class="tab-pane fade" id="conceptsettings" role="tabpanel" aria-labelledby="conceptsettings-tab">
                    <div class="settings-border"></div>
                        <div class="col-md-4 settings-form">
                            <h5 class="form-header-warning">Change Concept State</h5>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="concept_uuid" value="{{concept.UUID}}">
                                <input id="develop-concept-btn" class="btn btn-info" name="button" value="Unblock" type="submit">
                                </select>
                            </form>
                    </div>
                    <div class="col-md-4 settings-form">
                        <h5 class="form-header-warning">Rename Concept</h5>
                        <form action="" method="GET">
                            <label class="form-label" for="name">Concept name</label>
                            <input disabled id="rename-concept-textfield" class="form-control" name="name" value="{{ concept.name }}" type="text" >
                            <input disabled id="rename-concept-btn" class="btn btn-warning form-button" name="button" value="Rename" type="button">
                        </form>
                    </div>
                    <div class="col-md-4 settings-form">
                        <h5 class="form-header-success">Release Concept</h5>
                        <form action="" method="POST" onsubmit="return confirm('This action cannot be undone, are you sure you want to continue?')">
                            {% csrf_token %}
                            <input type="hidden" name="concept_uuid" value="{{concept.UUID}}">
                            <input disabled id="release-concept-btn" class="btn btn-success" name="button" value="Release" type="submit">
                        </form>
                    </div>
                    <div class="col-md-4 settings-form">
                        <h5 class="form-header-danger">Delete Concept</h5>
                        <form action="" method="GET">
                            <input disabled id="delete-concept-btn" class="btn btn-danger" name="button" value="Delete" type="button">
                        </form>
                    </div>

                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
