<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/concept_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/concept-viewer.css' %}">
    <title>Concept page</title>
{% endblock head %}

{% block content %}
<input type="hidden" value="{{ first_data.data }}" id="data-json">
    <div class="container">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="/main">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="{% url 'projectpage' project.id %} ">{{ project.name }}</a></li>
                    <li class="breadcrumb-item">{{concept.name}}</li>
                </ol>
            </nav>
        </div>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a id="concept-name-btn" class="nav-link active concept-tab" data-toggle="tab" href="#conceptname" role="tab" aria-controls="conceptname" aria-selected="true">{{concept.name}}</a>
                </li>
                {% if 'Can change concept' in permission_list %}
                <li class="nav-item">
                    <a id="concept-settings-btn" class="nav-link concept-tab" data-toggle="tab" href="#conceptsettings" role="tab" aria-controls="conceptsettings" aria-selected="true">Settings</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a id="concept-history-btn" class="nav-link concept-tab" data-toggle="tab" href="#concepthistory" role="tab" aria-controls="concepthistory" aria-selected="true">History</a>
                </li>
            </ul>
            <div class="tab-content" id="conceptManagement">
                <div class="tab-pane fade show active" id="conceptname" role="tabpanel" aria-labelledby="conceptname-tab">
                    <div class="justify-content-end zero-size-element">
                        {% if "Can change concept" in permission_list %}
                            <a href="{% url 'concepttool' project.id concept.id %}">
                                <button type="button" class="btn btn-success btn-project-tab" >Edit</button>
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        <div class="canvas-container" id="canvas-container" oncontextmenu="return false;"><div class="jtk-demo-canvas selectable canvas-wide source-target-demo jtk-surface jtk-surface-nopan" id="canvas"></div></div>
                        <ul class="nav nav-tabs hover-bottom">
                            <li class="nav-item">
                                <a class="nav-link active">Comments</a>
                            </li>
                        </ul>
                        {% for comment in comments %}
                            {% if comment.deleted == False %}
                                <div class="comment row">
                                    <div class="col-10 cmt-left">
                                        <p class="cmt-sender">{{ comment.created_by }}:</p><br>
                                        <div class="msg-container">
                                            <p class="cmt-msg">{{ comment.message }}</p>
                                        </div>
                                    </div>
                                    <div class="col-2 cmt-right">
                                        {% if comment.created_by == user or "Can delete comment" in permission_list %}
                                            <form action="" method="POST" id="delete-message{{ forloop.counter }}" onsubmit="return confirm('Are you sure you want to delete this comment?')">
                                                {% csrf_token %}
                                                <input type="hidden" name="comment_uuid" value="{{ comment.UUID }}">
                                                <input id="delete-comment-btn" type="submit" name="button" class="btn btn-sm close" value="x">
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="row col-12 date-container"><span class="cmt-date justify-content-end">{{ comment.createtime }}</span></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="comment-form">
                            <form action="" method="POST" class="form-inline">
                                <div class="form-group col-md-12">
                                    {% csrf_token %}
                                    {{ commentform.message }}
                                    <div class="col-md-4">
                                        <input id="send-comment-btn" class="btn btn-success" value="Send" name="button" type="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="page-bottom"></div>
                    </div>
                </div>
                {% if "Can change concept" in permission_list and "Can delete concept" in permission_list %}
                <div class="tab-pane fade" id="conceptsettings" role="tabpanel" aria-labelledby="conceptsettings-tab">
                    <div class="settings-border"></div>
                        <div class="col justify-content-around">
                    <div class="col-4 settings-form">
                        <h5 class="form-header-warning">Block Concept</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="concept_uuid" value="{{concept.UUID}}">
                            <input id="block-concept-btn" class="btn btn-warning form-button" name="button" value="Block" type="submit">
                        </form>
                        </div>
                    <div class="col-4 settings-form">
                        <h5 class="form-header-warning">Rename Concept</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="concept_uuid" value="{{concept.UUID}}">
                            <label class="form-label" for="name">Concept name</label>
                            <input id="rename-concept-textfield" class="form-control" name="name" value="{{ concept.name }}" type="text" >
                            <input id="rename-concept-btn" class="btn btn-warning form-button" name="button" value="Rename" type="submit">
                        </form>
                     </div>
                    </div>
                        <div class="col justify-content-around">
                    <div class="col-4 settings-form">
                        <h5 class="form-header-success">Release Concept</h5>
                        <form action="" method="POST" onsubmit="return confirm('This action cannot be undone, are you sure you want to continue?')">
                            {% csrf_token %}
                            <input type="hidden" name="concept_uuid" value="{{concept.UUID}}">
                            <input id="release-concept-btn" class="btn btn-success" name="button" value="Release" type="submit">
                        </form>
                    </div>
                    <div class="col-4 settings-form">
                        <h5 class="form-header-danger">Delete Concept</h5>
                        <form action="" method="POST" onsubmit="return confirm('This action cannot be undone, are you sure you want to continue?')">
                            {% csrf_token %}
                            <input type="hidden" name="concept_uuid" value="{{concept.UUID}}">
                            <input id="delete-concept-btn" class="btn btn-danger" name="button" value="Delete" type="submit">
                        </form>
                    </div>
                </div>
            </div>
                {% endif %}
                <div class="tab-pane fade" id="concepthistory" role="tabpanel" aria-labelledby="concepthistory-tab">

                    <ul id="historyList">
                    {% for data in datas %}
                            <li>Saved by: {{ data.created_by }} - {{ data.createtime }}<a href="{% url 'concepttool' project.id concept.id %}?version={{ data.createtime | urlencode }}"> - Revert</a></li>

                    {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/jsplumb.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/concept-viewer.js' %}"></script>
{% endblock script %}
