
<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}
{% load static %}

{% block head %}
    <title>Concept page</title>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/concept-tool.css' %}">
{% endblock head %}



{% block content %}

<!-- Delete element modal -->

<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete node and it's connections?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteButton" data-dismiss="modal" autofocus>Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Canvas beginning -->

<div class="canvas-container" id="canvas-container">
    <div class="jtk-demo-canvas selectable canvas-wide source-target-demo jtk-surface jtk-surface-nopan" id="canvas"></div>

<!-- Overhead panel -->

    <div class="overhead-panel panel">
        <a href="{% url 'conceptpage' project.id concept.id %}"><button type="button" class="btn editor-control" id="close-btn">Close</button></a>
        <button type="button" class="btn editor-control" id="saveButton">Save</button>
        <button type="button" class="btn editor-control" data-toggle="modal" data-target="#helpModal" id="helpButton">Help</button>
    </div>

    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 12px;">
                    <ul>
                        <li><b>Pan around</b> with the right click.</li>
                        <li><b>Zoom</b> by scrolling with the mousewheel.</li>
                        <li><b>Create a new element</b> by double clicking the canvas.</li>
                        <li><b>Select an element</b> by clicking on one.</li>
                        <li><b>Select multiple elements</b> by pressing and dragging the left mouse button over the wanted elements. (somewhat experimental)</li>
                        <li><b>Change element text</b> by double clicking on it.</li>
                        <li><b>Delete an element</b> by selecting the element and pressing delete.</li>
                        <li><b>Draw an arrow</b> by dragging from the bottom of the element to another element.</li>
                        <li><b>Remove an arrow</b> by dragging from the dot at the end of the arrow.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="left-panel panel" id="left-menu">
        <table id="shapes">
            <th class="settingsHeader">Nodes</th>
            <tr>
                <td><div class="rectangle shape selected" id="rectangle"></div></td>
                <td><div class="round shape" id="round"></div></td>
            </tr>
            <tr><td class="text-center"><div class="ellipsis shape" id="ellipsis"></div></td></tr>
        </table>
        <table id="arrowTypes">
            <th class="settingsHeader">Arrow types</th>
            <tr>
                <td><div class="arrowSelector selected"><img id="regularArrow" src="{% static 'images/arrow.png' %}" width="50" height="25"></div></td>
                <td><div class="arrowSelector"><img id="textArrow" src="{% static 'images/textarrow.png' %}" width="50" height="25"></div></td>
            </tr>
        </table>
        <table id="relationTypes">
            <th class="settingsHeader">Arrow styles</th>
            <tr>
                <td><div class="arrowstyleSelector selected"><img id="solidArrow" src="{% static 'images/arrow.png' %}" width="50" height="25"></div></td>
                <td><div class="arrowstyleSelector"><img id="dashedArrow" src="{% static 'images/dashedarrow.png' %}" width="50" height="25"></div></td>
            </tr>
            <tr>
                <td><div class="arrowstyleSelector"><img id="pointedArrow" src="{% static 'images/dottedarrow.png' %}" width="50" height="25"></div></td>
            </tr>
        </table>
    </div>

<!-- Right panel -->

    <div class="right-panel panel" id="property-menu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('e')">x</a>
        <div id="boxlabel" class="boxname"></div>
        <div class="form-group property-buttons nodeprop">
            <button class="colorblue" id="bluecolor" onclick="updateBlueColor()"></button>
            <button class="colorgreen" id="greencolor" onclick="updateGreenColor()"></button>
            <button class="colororange" id="orangecolor" onclick="updateOrangeColor()"></button>
            <button class="colorpink" id="pinkcolor" onclick="updatePinkColor()"></button>
        </div>
        <div class="form-group property-buttons relprop">
            <button class="arrblue arrcol" id="bluearrcol" onclick="updateRelColor('blue')"></button>
            <button class="arrgreen arrcol" id="greenarrcol" onclick="updateRelColor('green')"></button>
            <button class="arrred arrcol" id="redarrcol" onclick="updateRelColor('red')"></button>
            <button class="arrblack arrcol" id="blackarrcol" onclick="updateRelColor('black')"></button>
        </div>
        <div class="form-group property-buttons">
            <table>
                <tr>
                    <td>Element color: </td>
                    <td><input type="color" class="colorbtn" id="change-color-btn"></td>
                </tr>
                <tr>
                    <td>Text color:</td>
                    <td><input type="color" class="colorbtn nodeprop" id="change-textcolor-btn"></td>
                </tr>
            </table>
        </div>
        <div class="shape-change property-buttons nodeprop">
            <button onclick="updateShapeBox()" id="change-shape-btn" class="property-shape-buttons">Square</button>
            <button onclick="updateShapeRound()" id="change-shape-btn" class="round property-shape-buttons">Round</button>
            <button onclick="updateShapeEllipsis()" id="change-shape-btn" class="ellipsis property-shape-buttons">Ellipsis</button>
        </div>
        <div class="shape-change property-buttons relprop">
            <button onclick="updateStyle('solid')" class="property-shape-buttons">Solid</button>
            <button onclick="updateStyle('dashed')" class="property-shape-buttons">Dashed</button>
            <button onclick="updateStyle('pointed')" class="property-shape-buttons">Pointed</button>
        </div>
        <div class="shadow-area property-buttons boxes nodeprop">
            <input type="checkbox" id="shadow-checkbox" onclick="shadowBox()">
            <label for="shadow-checkbox">Shadow</label>
        </div>
        <div class="description-area">
            <textarea id="box-description" rows="4" cols="23" onkeyup="descriptionBox()" placeholder="Add description"></textarea>
        </div>
        <div class="atrributes-area form-group nodeprop">
            <input placeholder="Attribute" id="attributename">
            <input placeholder="Value" id="attributevalue">
            <button class="button" onclick="addAttribute()">Add Attribute</button>
        </div>
        <div>
        <table class="attributes nodeprop">
            <thead>
            <tr><th>Attribute</th> <th>Value</th><th>Del</th> </tr>
            </thead>
            <tbody id="attributes" class="attributes"></tbody>
        </table>
        </div>
    </div>
    <div class="right-panel" id="property-closed">
        <a href="javascript:void(0)" class="closebtn" onclick="openNav('e')"><</a>

    </div>
    <div class="lower-panel panel">
        <p class="save-state-text" id="save-state"></p>
    </div>
    <div class="contextBox" id="nodecontext">
        <ul class="contextlist" id="contextlistid">
            <li class="contextli" id="contextEdit">Edit text</li>
            <li class="contextli" id="contextDelete">Delete</li>
            <li class="contextli" id="contextProps">Properties</li>
        </ul>
    </div>
</div>

    <form action="" method="POST" id="save-form">
        {% csrf_token %}
        <input type="hidden" id="input-data" name="data">
        <input type="hidden" id="image-data" name="imgdata">
    </form>

    <input type="hidden" id="image-url" value="{% static 'images/arrow.png' %}">
    <input type="hidden" id="data-json" value="{{ conceptdata.data }}">
{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/jsplumb.js' %}"></script>
<script src="{% static 'js/dom-to-image.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/property_menu.js' %}"></script>
{% endblock script %}