<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/concept_page.css' %}">
    <title>Concept page</title>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="/main">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="{% url 'projectpage' project.id %} ">{{ project.name }}</a></li>
                    <li class="breadcrumb-item">{{concept.name}}</li>
                </ol>
            </nav>
        </div>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a id="concept-name-btn" class="nav-link active concept-tab" data-toggle="tab" href="#conceptname" role="tab" aria-controls="conceptname" aria-selected="true">{{concept.name}}</a>
                </li>
            </ul>
            <div class="tab-content" id="conceptManagement">
                <div class="tab-pane fade show active" id="conceptname" role="tabpanel" aria-labelledby="conceptname-tab">
                    <div>
                         <p class="text-centered"><img src="{{ first_data.image }}" id="concept-img" class="img-fluid" alt="Concept image"></p>
                        <div class="page-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
