<!-- Copyright 2018 Sparta Consulting Oy -->

{% extends "usmapp/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/help_page.css' %}">
    <title>Help Page</title>
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li id="breadcrumb-project-link" class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="/main">Projects</a></li>
                    <li class="breadcrumb-item">Help</li>

                    </li>
                </ol>
            </nav>
        </div>
        <p>Build version: 12094398dsfds23</p>
        <h3>Licenses:</h3>
        <ul>
            <li>Django: <a href="https://github.com/django/django/blob/master/LICENSE">License</a></li>
            <li>Bootstrap: MIT</li>
            <li>Jquery: MIT</li>
            <li>Jquery-UI: MIT</li>
            <li>JSPlumb: MIT</li>
            <li>Google material icons: Apache V2</li>
        </ul>
        <div class="feedback-form col-md-6">
            <h4>Send us feedback</h4>
            <form>
                {{feedbackform}}
                <div class="g-recaptcha" data-sitekey="6LfwlUgUAAAAAKu7BJfbEB9EUKCSOLEg3YMC-PqO"></div>
                <input name="button" value="Send" class="btn btn-success" type="submit">
            </form>
        </div>
    </div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
<script src="{% static 'js/bootstrap.js' %}" ></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock script %}