<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/svg-sprite-action.css' %}">
    <title>Main page</title>
{% endblock head %}

{% block content %}

<!-- breadcrums -->

    <div class="container">
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-between">
                    <li id="breadcrumb-project-link" class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="/main">Projects</a></li>
                    <li class="nav-item col-2 text-right">

                    </li>
                </ol>
            </nav>
        </div>

<!-- Project create modal -->

        <div class="modal fade" id="createproject" tabindex="-1" role="dialog" aria-labelledby="createprojectLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="" method="POST">
                        <div class="modal-header">
                            <h5 id="createprojectLabel" class="modal-title">Create project</h5>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Create" name="button" class="btn btn-success" id="createproject_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>

<!-- Create project button and search bar-->

        <div class="justify-content-end zero-size-element">
            <input type="text" id="searchproject-input" class="searchbar" name="searchproject-input" placeholder="Filter projects">
            <input id="search_submit" class="searchbar svg-ic_search_24px svg-ic_search_24px-dims" value="Search" type="submit">
            <input type="hidden" id="hidden-ajax-url" value="{% url 'mainpage' %}">

            <button id="create-project-btn" type="button" class="btn btn-success btn-project-tab"
            data-toggle="modal" data-target="#createproject">Create project</button>
        </div>

<!-- List searched projects from project.list.html -->

            <div id="search-results-project">
                    <table class="table table-hover table-light table-usm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>Created</th>
                                </tr>
                            </thead>
                            <tbody>

                    <!-- List found projects -->

                            {% if projects %}
                                {% for project in projects %}
                                    <tr class="table-row link-table" id="project-table-id" onclick="window.location='{% url 'projectpage' project.id %}'">
                                        <td>{{ project.name }}</td>
                                        <td>{{ project.state.name }}</td>
                                        <td>{{ project.createtime }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td>There are no projects to list.</td>
                            {% endif %}
                            </tbody>
                    </table>

            </div>
            <nav aria-label="Page navigation" class="nav-paginator paginator">
                <ul class="pagination justify-content-center">
                    {% if projects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.previous_page_number }}"><</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link"><</a>
                        </li>
                    {% endif %}

                    {% for page in projects.paginator.page_range %}
                        <li class="page-item {% if page == projects.number %}active{% endif %}">
                            <a class="page-link paginator" href="?page={{ page }}">{{ page }}
                                {% if page == projects.number %}
                                <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}

                    {% if projects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.next_page_number }}">></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/async_search_find_projects.js' %}" ></script>
<script>
        $('.modal').on('shown.bs.modal', function() {
            $(this).find('[autofocus]').focus();
          });
</script>
{% endblock script %}