<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}

{% block head %}
    <title>Profile Page</title>
{% endblock head %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
            <a class="nav-link active profile-tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
            </li>
        </ul>
        <div class="tab-content" id="profileManagement">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-12">
                Information <br>
                <div class="table-responsive">
                <table class="table table-condensed table-responsive table-user-information">
                    <tbody>
                        <tr>
                            <td>Username </td>
                            <td class="col-8">{{ user.username }}</td>
                        </tr>

                        <form method="post" action="">
                                {% csrf_token %}
                        <tr>
                            <td>Firstname </td>
                            <td><input type="text" name="lastname" value="{{ user.first_name }}" required</td>
                        </tr>
                        <tr>
                            <td>Lastname </td>
                            <td><input type="text" name="lastname" value="{{ user.last_name }}" required</td>
                        </tr>
                        <tr>
                            <td>Email </td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr><td><input type="submit" name="button" class="btn btn-success" value="Change info"></td><td></td></tr>
                    </form>
                    </tbody>

                </table>

                </div>
                </div>
                <div class="col-12">
                     Change password <br>
                     <table class="table table-condensed table-responsive table-user-information">
                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            {% for field in form %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <div class="controls">
                                    <td>{{ field }}</td>
                                    <span class="error-text">{{ field.errors }}</span>
                                </div>
                            </tr>
                            {% endfor %}
                        </div>
                        <tr><td><input type="submit" name="button" class="btn btn-success" id="changepassword_btn" value="Change Password" style="margin-top:20px;" ></td><td></td></tr>
                    </form>
                </table>
                </div>
                <div class="col-12">
                    <div>
                        <input type="submit" name="button" class="btn btn-danger" id="changepassword_btn" value="Delete Account" style="margin-top:20px;" >

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}