<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/project_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_bar.css' %}">
    <link href="{% static 'css/svg-sprite-action.css' %}" rel="stylesheet">
    <link href="{% static 'css/svg-sprite-content.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Project Page</title>
{% endblock head %}

{% block content %}
    <div class="container">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li id="breadcrumb-project-link" class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-link" href="/main">Projects</a></li>
                        <li class="breadcrumb-item">{{project.name}}</li>
                    </ol>
                </nav>
            </div>

<!-- Tablist -->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active project-tab" id="project-tab-concepts" data-toggle="tab" href="#home" role="tab" aria-controls="project" aria-selected="true">Concepts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link project-tab" id="profile-tab-members" data-toggle="tab" href="#profile" role="tab" aria-controls="members" aria-selected="false">Members</a>
            </li>
            {% if "Can change project" in permissions and "Can delete project" in permissions %}
                <li class="nav-item">
                    <a class="nav-link project-tab" id="profile-tab-settings" data-toggle="tab" href="#settings" role="tab" aria-controls="members" aria-selected="false">Settings</a>
                </li>
            {% endif %}
        </ul>

<!-- Create Concept button -->
        <input type="hidden" id="hidden-search-url-projectid" value="{% url 'projectpage' project.id  %}">
        {% if "Can add concept" in permissions %}
            <div class="modal fade" id="createconcept" tabindex="-1" role="dialog" aria-labelledby="createconceptLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="" method="POST">
                            <div class="modal-header">
                                <h5 id="createconceptLabel" class="modal-title">Create concept</h5>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ createconceptform }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" name="button" value="Create" class="btn btn-primary" id="createconcept_btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="project-tab">
                <div class="justify-content-end zero-size-element">
                    <div class="btn-project-tab">
                        <input type="text" id="searchconcept-input" class=" searchbar" name="searchconcept-input" placeholder="Filter concepts">
                        <input id="search_submit" class="searchbar svg-ic_search_24px svg-ic_search_24px-dims" value="Search" type="submit">
                        {% if "Can add concept" in permissions  %}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createconcept">Create concept</button>
                        {% endif %}
                     </div>
                </div>

<!-- List concepts -->
                <div id="search-results-concept">
                    <table class="table table-hover table-light table-usm">
                        <thead>
                            <tr>
                                <th scope="col-3">Name</th>
                                <th scope="col-3">State</th>
                                <th scope="col-3">Modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for concept in concepts %}
                                {%if concept.deleted == False %}
                                <tr class="link-table {% if concept.state.name == 'BLOCKED' %}table-danger
                                                        {% elif concept.state.name == 'Released' %}table-success
                                                        {% endif %}"
                                                        {% if 'Can change project' in permissions or concept.state.name != 'BLOCKED' %}
                                                        onclick="window.location='{% url 'conceptpage' project.id concept.id %}'"{% endif %}>
                                    <td class="middle-aligned">{{ concept.name }}</td>
                                    <td class="middle-aligned">{{ concept.state }}</td>
                                    <td class="middle-aligned">{{ concept.createtime }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation" class="nav-paginator">
                    <ul class="pagination justify-content-center">
                        {% if concepts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ concepts.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                        {% endif %}

                        {% for page in concepts.paginator.page_range %}
                            <li class="page-item {% if page == concepts.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ page }}">{{ page }}
                                    {% if page == concepts.number %}
                                    <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}

                        {% if concepts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ concepts.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="members-tab">
                <div class="justify-content-end zero-size-element">
                    {% if "Can add member" in permissions  %}
                        <button id="invite-member-btn" type="button" class="btn btn-success btn-project-tab" data-toggle="modal" data-target="#inviteModal">Invite Members</button>
                    {% endif %}
                </div>
                <table class="table table-hover table-light table-usm">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Added</th>
                            {% if "Can delete member" in permissions %}<th scope="col">Remove</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="middle-aligned"><a class="table-name">{{ user.name }}</a></td>
                                <td class="middle-aligned">
                                    {% if "Can change member" in permissions %}
                                        <form action="" id="role_change{{ forloop.counter }}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="user" value="{{ user.id }}">
                                            <select class="form-control form-control-sm role-control" name="role" form="role_change{{ forloop.counter }}" onchange="this.form.submit()">
                                                {% for role in roles %}
                                                    <option name="role_value" value="{{ role.UUID }}" {% if user.role == role.id %} selected {% endif %}>{{ role.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    {% else %}
                                        {% for role in roles %}
                                        {% if user.role == role.id %} {{ role.name }} {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td class="middle-aligned">
                                    {{user.createtime}}
                                </td>
                                {% if "Can delete member" in permissions %}
                                <td class ="middle-aligned">
                                    <form action="" id="remove_member{{ forloop.counter }}" method="POST">
                                        {% csrf_token %}
                                    <input type="hidden" name="member_uuid" value="{{ user.uuid }}">
                                    <input type="hidden" value="Remove" name="button">
                                    <!--<input id="remove-member-btn" type="submit" class="btn svg-ic_remove_circle_24px svg-ic_remove_circle_24px-dims" name="button">-->
                                    <button class="icon-button" onclick="this.form.submit()"><i class="material-icons">remove_circle</i></button>
                                </form>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

<!-- Members Tab -->

                {% if "Can add member" in permissions %}
                <input type="hidden" id="hidden-search-url-username" value="{% url 'search_data' project.id  %}">
                    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Invite members</h5>
                                </div>
                                <form action="{% url 'search_data' project.id  %}" method="POST" autocomplete="off">
                                <div class="modal-body">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        <input type="hidden" id="member-username" name="ajax-search" value="member-username">
                                        <input type="text" id="searchmember-input" name="searchmember-input" autofocus />
                                        <input id="add-member-btn" type="button" name="ajax-search" value="Add Member" class="btn btn-success">
<!-- List found users -->
                                        <ul id="search-results">
                                        </ul>
<!-- List added members -->
                                        <ul id="list-results">
                                        </ul>
                                    </div>
                                    <div class="modalscroll">
                                        <table class="table table-light">
                                            <tbody>
                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <input id="send-invites-btn" type="submit" class="btn btn-success" name="ajax-search" value="Send Invites">
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

<!-- Settings Tab -->
            {% if "Can change project" in permissions and "Can delete project" in permissions %}
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="settings-border"></div>
                    <div class="col-md-4 settings-form">
                        <h5 class="form-header-warning">Block Project</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="project_uuid" value="{{project.UUID}}">
                            <input id="change-project-state-btn" class="btn btn-warning form-button" name="button" value="Block" type="submit">
                        </form>
                    </div>
                    <div class="col-md-4 settings-form">
                        <h5 class="form-header-warning">Rename project</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="project_uuid" value="{{project.UUID}}">
                            <label class="form-label" for="name">Project name</label>
                            <input id="rename-project-textfield" class="form-control" name="name" value="{{ project.name }}" type="text" >
                            <input id="rename-project-btn" class="btn btn-warning form-button" name="button" value="Rename" type="submit">
                        </form>
                    </div>
                    <div class="col-4 settings-form">
                            <h5 class="form-header-success">Release Project</h5>
                            <form action=""
                            {% for concept in concepts %}
                            {%if concept.state.name != 'Released'%}
                            onsubmit="return confirm('You still have unfinished concepts in this project. Are you sure you want to force Release all of your concepts?');"
                            {% endif %}
                            {% endfor %}
                            method="POST" onsubmit="return confirm('This action cannot be undone, are you sure you want to continue?')">
                                {% csrf_token %}
                                <input type="hidden" name="project_uuid" value="{{project.UUID}}">
                                <input id="release-project-btn" class="btn btn-success" name="button" value="Release" type="submit">
                            </form>
                        </div>
                    <div class="col-md-4 settings-form">
                        <h5 class="form-header-danger">Delete project</h5>
                        <form action="" method="POST" onsubmit="return confirm('This action cannot be undone, are you sure you want to continue?')">
                            {% csrf_token %}
                            <input type="hidden" name="project_uuid" value="{{project.UUID}}">
                            <input id="delete-project-btn" class="btn btn-danger" name="button" value="Delete" type="submit">
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/async_search_invite_member.js' %}" ></script>
    <script src="{% static 'js/async_search_find_concepts.js' %}" ></script>
<script>
        $('.modal').on('shown.bs.modal', function() {
            $(this).find('[autofocus]').focus();
          });
</script>
{% endblock script %}
