<!-- List init -->

<table class="table table-hover table-light table-usm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Created</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>

<!-- List found projects -->

        {% if projects %}
            {% for project in projects %}
                <tr class="table-row link-table" id="project-table-id" onclick="window.location='{% url 'projectpage' project.id %}'">
                    <td>{{ project.name }}</td>
                    <td>{{ project.created_by }}</td>
                    <td>{{ project.createtime }}</td>
                    <td>{{ project.state }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <td>No projects found.</td>
        {% endif %}
        </tbody>
</table>