<!--Copyright 2018 Sparta Consulting Oy-->
{% extends "usmapp/base.html" %}
{% load static%}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/start_page.css' %}">
    <title>Welcome to USM</title>
{% endblock head %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-usm">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">USM</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" id="SRModal-btn" class="btn btn-success" data-toggle="modal" data-target="#SRModal">Login / Register</button>
                </li>
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade modal-start-page show" id="SRModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="reg-modal-header">
                        <ul class="nav nav-tabs modal-nav-tabs">
                            <li class="nav-tabs active col-6">
                               <a class="modal-start-page title active" id="signin-tab-btn" href="#sign-in" data-toggle="tab">Login</a>
                            </li>
                            <li class="nav-tabs col-6">
                               <a class="modal-start-page title" id="register-tab-btn" href="#register" data-toggle="tab"> Register</a>
                            </li>
                        </ul>

                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <!-- Sign in modal -->
                        <div class="tab-pane active" id="sign-in">
                            <form class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% include 'usmapp/messages.html' %}
                                    {% for field in loginform %}
                                        {{ field.label_tag }}
                                        <div class="form-group">
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" name="button" class="btn btn-success" value="Login" id="login_btn">
                            </form>
                        </div>

                        <!-- Register modal without Credit card -->
                        <div class="tab-pane" id="register">
                            <form class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                <div class="control-group">
                                    {% for field in registerform %}
                                        {{ field.label_tag }}
                                        <div class="controls">
                                            {{ field }}
                                            <span class="error-text">{{ field.errors }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn btn-default" id="register-close-btn" data-dismiss="modal">Close</button>
                                <input type="submit" name="button" class="btn btn-success" id="register-btn" value="Register" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="start-page">
        <div class="container-upper">
                <div class="row no-gutters">
                <div class="col-lg-12">
                    <h4 class="display-3 text-center text-white mt-4">Welcome to USM</h4>
                </div>
            </div>
        </div>
        <div class="container container-downer">
            <div class="row">
              <div class="col-sm-4 my-4">
                <div class="card">
                  <img class="card-img-top" <img src="{% static 'images/globe.png' %}" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Basic</h4>
                    <p class="card-text">Basic edition</p>
                  </div>
                  <div class="card-footer text-center">
                        <button id="freePlanBtn" name="singlebutton" class="btn btn-success"
                        data-toggle="modal" data-target="#SRModal">0€ / Month</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 my-4">
                <div class="card">
                  <img class="card-img-top" <img src="{% static 'images/globe.png' %}" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Business</h4>
                    <p class="card-text">Business edition</p>
                  </div>
                  <div class="card-footer text-center">
                        <button type="button" id="smallBusinessBtn" name="singlebutton" class="btn btn-success"
                        data-toggle="modal" data-target="#RModal">4,99€ / Month</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 my-4">
                <div class="card">
                  <img class="card-img-top" <img src="{% static 'images/globe.png' %}" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Enterprise</h4>
                    <p class="card-text">Enterprise edition</p>
                  </div>
                  <div class="card-footer text-center">
                    <button id="enterpriseEditionBtn" name="singlebutton" class="btn btn-success"
                    data-toggle="modal" data-target="#RModal">9,99€ / Month</button>
                  </div>
                </div>
              </div>

            </div>
        </div>
    </div>

    <!-- Register Modal credit card -->
    <div class="modal fade" id="RModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <form action="main_page.html">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="signInEmail">Email</label>
                                <input type="email" class="form-control" id="signInEmail" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="signInPassword">Password</label>
                                <input type="password" class="form-control" id="signInPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signInFullName">Full Name</label>
                            <input type="text" class="form-control" id="signInFullName" placeholder="Name">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="singInCardNumber">Credit card number</label>
                                <input type="text" class="form-control" id="singInCardNumber">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="InputCard">Card</label>
                                <select id="InputCard" class="form-control">
                                    <option selected>Choose</option>
                                    <option>Master card</option>
                                    <option>Visa</option>
                                    <option>American Express</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="signInNum">Sec</label>
                                <input type="text" class="form-control" id="signInNum">
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="/main" class="btn btn-success">Submit</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Sparta Consulting 2018</p>
        </div>
    </footer>
{% endblock footer %}
{% block script %}
    <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script>

        document.registerformHasErrors = {% if registerform.errors %} true {% else %} false {% endif %};
        document.loginformHasErrors = {% if messages %} true {% else %} false {% endif %};

        $( document ).ready(function() {
            if (document.registerformHasErrors) {
                $('#SRModal').modal('show');
                $('.nav-tabs a[href="#register"]').tab('show');
            }
        });

        $( document ).ready(function() {
            if (document.loginformHasErrors) {
                $('#SRModal').modal('show');
                $('.nav-tabs a[href="#sign-in"]').tab('show');
            }
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            e.target
            document.getElementById("id_username_register").focus();
            document.getElementById("id_username").focus();
            });
    </script>
{% endblock script %}