/* Copyright 2018 Sparta Consulting Oy */

body {
    background-color: #f2f2f2;
}
.container {
    background-color: #ffffff;
}
.navbar {
    background: linear-gradient(to bottom right, #334d4d, #669999);
}

.btn-success {
    background-color: #669999;
    border-color: #669999;
}
.btn-success:hover {
    background-color: #527a7a;
    border-color: #527a7a;
}
.btn-success:focus{
    background-color: #669999;
    box-shadow: none;
}
.btn-success:active{
    background-color: #669999;
    border-color: #669999;
}
.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    background-color: #669999;
    border-color: #669999;
}
.btn-success:not([disabled]):not(.disabled):active:focus, .btn-success:not([disabled]):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}

a:link.link{
    color: #000000;
    text-decoration: none;
}
a:visited.link{
    color: #000000;
    text-decoration: none;
}

a:link.nav-link {
    color: #ffffff;
    text-decoration: none;
}
a:visited.nav-link {
    color: #000000;
    text-decoration: none;
}
.navbar-brand, .dropdown-toggle, .navbar-light, .navbar-nav {
    color: #ffffff;
}
.navbar-brand:hover, .dropdown-toggle:hover, .navbar-light:hover, .navbar-nav:hover {
    text-decoration: none;
    color:#ffffff;
}

  a:link.nav-link.black{
  color: #000000;
  }

  .nav-tabs.modal-nav-tabs{
    background-color: #669999;
  }


.modal-start-page.title {
    color: #ffffff;

}
.modal-start-page.title:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}
#signin-tab-btn:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
}
.title.active {
    border-bottom: 1px solid #ffffff;
}
.page-link{
    color: #669999;
}
.page-item.active .page-link{
    background-color: #669999;
    border-color: #669999;
}
.page-item.disabled .page-link {
    color: #d9d9d9;
}
.page-link:hover {
    color: #557F7F
}
a:link.breadcrumb-link{
    color: #669999;
}
a:visited.breadcrumb-link{
    color: #669999;
}
a:link.profile-tab{
    color: #495057;
}
a:visited.profile-tab{
    color: #495057;
}
.breadcrumb {
    background-color: #ffffff;
    color: #999999;
}
.feedback-form {
    background-color: #e6e6e6;
    border: solid 1px #a6a6a6;
}
.navbar-icon {
    color: #000000;
}