.canvas-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	height: 600px;
	width: 100%;
	border: solid lightgrey 1px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
}
#canvas {
	position: relative;
	margin-left: 0;
	width: 50px;;
	height: 50px;
}
.window {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 50px;
	text-align: center;
	margin: 0px;
	padding: 3px;
	border: 1px solid #000000;
	display: table;
}
.labelWindow {
	width: 70px;
	height: 30px;
	border: 1px solid #f2f2f2;
	position: absolute;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	display: table;
	z-index: 98;
}
strong {
	margin: 20px;
}
.text-center{
	text-align: center !important;
	align-content: center !important;
}
.lower-panel {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #bbc5d8;
	border-top: 1px solid #b3b3b3;
	z-index: 100;
	height: 30px;
	width: 100vw;
}
.shape {
	width: 50px;
	height: 25px;
	margin: 3px;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 30px;
	box-shadow: 0 0 2px #000000;
	background-color: #ffffff;
}
.shape:hover:not(.selected), .arrowSelector:hover:not(.selected) {
	box-shadow: 1px 1px 5px black;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}
.round {
	border-radius: 15px;
}
.ellipsis {
	border-radius: 100%;
}
.ep {
	width: 100%;
	height: 15px;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
}
.nodeInput {
	width: 100%;
	background-color: inherit;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nodeInput:focus {
	outline: none;
}
.windowText {
	display: table-cell;
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
}
.labelText {
	padding: 0px;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
}
.jtk-overlay {
	z-index: 1;
}
.aLabel {
    padding: 0.3em;
	cursor: text;
	width: 70px;
	height: 30px;
	border: 1px solid #f2f2f2;
	text-align: center;
	font-size: 12px;
	background-color: #ffffff;
	z-index: 2;
}
#arrowTypes {
	width: auto;
	margin-right: 20px;
}
svg {
	z-index: 1;
}
.editor-control {
	margin-top: 6px;
}
.save-state-text {
	padding-left: 20px;
	margin: 0;
	margin-top: 3px;
}
.colorblue, .colororange, .colorgreen, .colorpink, .arrcol{
	-webkit-appearance: none;
	border: 1px solid black;
	width: 54px;
	height: 39px;
}
.colorblue:hover, .colororange:hover, .colorgreen:hover, .colorpink:hover, .arrcol:hover {
    box-shadow: 0 2px 3px 0 #2d2d2d, 0 7px 20px 0 #706d6d;
}
.colorblue{
	background-color: #80ddf2;
}
.colororange{
	background-color: #f4df89
}
.colorgreen{
	background-color: #87f2b9;
}
.colorpink{
	background-color: #efa5d3;
}
.arrblue {
	background-color: #3671d1;
}
.arrgreen {
	background-color: #00a00d;
}
.arrred {
	background-color: #e91d1d;
}
.arrblack {
	background-color: #000000;
}
.boxshadow-checked{
	box-shadow: 5px 5px 10px 1px #808080;
}
.boxname{
	text-align: center;
	font-size: 20px;
	padding-bottom: 25px;
}
.shadow-area{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 22;
}