.text-centered{
    text-align: center;
}
.btn-project-tab{
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin-bottom: 5px;
    margin-right: 5px;
}
.zero-size-element {
    height: 0;
    position: relative;
    bottom: 10px;
}
.hover-bottom {
    margin-bottom: 30px;
}
.comment{
    margin: 0 10px 10px 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.cmt-left{
    margin: 0;
}
.cmt-right{
    margin: 0;
}
.cmt-sender{
    display: inline;
    margin: 0;
    font-weight: bold;
}
.cmt-msg{
    display: inline;
    margin: 0;
}
.msg-container{
    margin-left: 10px;
    margin-bottom: 10px;
}
.rmv-cmt{
    font-weight: bold;
    padding: 0 4px 0 4px;
    width: auto;
    height: auto;
}
.cmt-date{
    color: rgb(160, 160, 160);
    position: absolute;
    right: 0;
    bottom: 0
}
.date-container{
    position: relative;
}
.comment-form {
    margin-top:  20px;
}
.page-bottom {
    height: 100px;
}
.settings-border {
    border-top: solid #dee2e6 1px;
    margin-bottom: 40px;
}
.settings-form {
    padding: 10px;
    border: solid #dee2e6 1px;
    border-radius: 10px;
    background-color: #fcfcfc;
    margin-bottom: 30px;
}

.form-header-warning {
    color: #f3ad15;
    margin-bottom: 10px;
    border-bottom: solid #dee2e6 1px;
}
.form-header-danger {
    color: #f31515;
    margin-bottom: 10px;
    border-bottom: solid #dee2e6 1px;
}

.form-header-success {
    margin-bottom: 10px;
    border-bottom: solid #dee2e6 1px;
}
.form-button {
    margin-top: 15px;
}
#block-concept-btn {
    margin-bottom: 10px;
}
.form-label{
    margin-bottom: 0;
}
a:link.concept-tab{
    color: #495057;
}
.disabled-delete{
    float: right;
    font-weight: bold
}

#historyList {
    list-style-type: none;
    padding-left: 10px;
}
#historylist li {
    padding: 5px;
}