body {
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: hidden;
}
.navbar {
	z-index: 100;
}
.canvas-container{
	width: 100vw;
	min-height: calc(100vh - 75px);
	position: relative;
	background-color: #ffffff;
}
.canvas-wide {
	height: 720px;
	float: left;
	margin-left: 10px;
	width: 90%;
}
#canvas {
	position: relative;
	margin-left: 0;
	width: 50px;
	height: 50px;
}
.dragbox {
	width: 10px;
	height: 10px;
	border: 1px solid #009933;
}
.window {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 50px;
	text-align: center;
	margin: 0px;
	padding: 3px;
	border: 1px solid #000000;
	display: table;
}
.labelWindow {
	width: 70px;
	height: 30px;
	border: 1px solid #f2f2f2;
	position: absolute;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	display: table;
	z-index: 98;
}
.ui-resizable-helper {
	border: 1px solid grey;
}
.selectionBox{
	background-color: #669999;
	opacity: .6;
	z-index: 101;
	position: absolute;
}
strong {
	margin: 20px;
}
.overhead-panel{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #bbc5d8;
	border-bottom: 1px solid #b3b3b3;
	height: 50px;
	width: 100vw;
	z-index: 100;
}
.left-panel {
	position: absolute;
	top: 50px;
	left: 0;
	background-color: #bbc5d8;
	border-right: 1px solid #b3b3b3;
	z-index: 100;
	height: calc(100vh - 155px);
	padding-top: 25px;
	width: 150px;
}
.right-panel {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #bbc5d8;
	border-left: 1px solid #b3b3b3;
	z-index: 100;
	height: calc(100vh - 155px);
	width: 0px;
	overflow-x: hidden;
	transition: 0.5s;
}
#property-closed {
	/*width: 50px;*/
}
.multiSelected {
	border: 2px dashed black;
}

.right-panel a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.text-center{
	text-align: center !important;
	align-content: center !important;
}

.lower-panel {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #bbc5d8;
	border-top: 1px solid #b3b3b3;
	z-index: 100;
	height: 30px;
	width: 100vw;
}
.shape {
	width: 50px;
	height: 25px;
	margin: 3px;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 30px;
	box-shadow: 0 0 2px #000000;
	background-color: #ffffff;
}
.shape:hover:not(.selected), .arrowSelector:hover:not(.selected) {
	box-shadow: 1px 1px 5px black;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}
.round {
	border-radius: 15px;
}
.ellipsis {
	border-radius: 100%;
}
.ui-resizable {
	position: absolute;
}
.ep {
	width: 100%;
	height: 15px;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
}
.edit {
	background-color: #3671d1;
	width: 15px;
	height: 15px;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left:25%;
	margin-left: -7.5px;
}
.delete {
	background-color: #ff0000;
	width: 15px;
	height: 15px;
	/*margin: 0 auto; */
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left:75%;
	margin-left: -7.5px;
}
.nodeInput {
	width: 100%;
	background-color: inherit;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nodeInput:focus {
	outline: none;
}
.windowText {
	display: table-cell;
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
}
.labelText {
	padding: 0px;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
}
/*.aLabel.jtk-hover{
    background-color: #1e8151;
    color: white;
}*/
.jtk-overlay {
	z-index: 1;
}
.aLabel {
    padding: 0.3em;
	cursor: text;
	width: 70px;
	height: 30px;
	border: 1px solid #f2f2f2;
	text-align: center;
	font-size: 12px;
	background-color: #ffffff;
	z-index: 2;
}
.dragHover {
    border: 2px solid black;
}
#arrowTypes {
	width: auto;
	margin-right: 20px;
}
table {
	margin-left: 10px;
	margin-top: auto;
}

.arrowSelector {
	margin-bottom: 10px;
	margin-right: 20px;
	width: auto;
	box-shadow: 0 0 2px #000000;
	cursor: pointer;
}
.arrowstyleSelector {
	margin-bottom: 10px;
	margin-right: 20px;
	width: auto;
	box-shadow: 0 0 2px #000000;
	cursor: pointer;
}
.selected {
	box-shadow: 1px 1px 5px 2px #000000;
}
.selectedWindow {
	border: 2px dashed black;
}
svg {
	z-index: 1;
}
.contextBox {
	position: absolute;
	box-shadow: 1px 1px 2px 2px #808080;
	width: 120px;
	display: none;
	z-index: 187 !important;
	background-color: #ffffff;
}
.contextlist {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
li:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}
.editor-control {
	margin-top: 6px;
}
.save-state-text {
	padding-left: 20px;
	margin: 0;
	margin-top: 3px;
}
.colorbtn{
	-webkit-appearance: none;
	border: 1px solid #000000;
	width: 40px;
	height: 25px;
}
.property-buttons{
	padding-left: 10px;
}
.property-shape-buttons{
	border: 1px solid #000000;
	background-color: #669999;
	color: #ffffff;
}
.colorblue, .colororange, .colorgreen, .colorpink, .arrcol{
	-webkit-appearance: none;
	border: 1px solid black;
	width: 54px;
	height: 39px;
}
.colorblue:hover, .colororange:hover, .colorgreen:hover, .colorpink:hover, .arrcol:hover {
    box-shadow: 0 2px 3px 0 #2d2d2d, 0 7px 20px 0 #706d6d;
}
.colorblue{
	background-color: #80ddf2;
}
.colororange{
	background-color: #f4df89
}
.colorgreen{
	background-color: #87f2b9;
}
.colorpink{
	background-color: #efa5d3;
}
.arrblue {
	background-color: #3671d1;
}
.arrgreen {
	background-color: #00a00d;
}
.arrred {
	background-color: #e91d1d;
}
.arrblack {
	background-color: #000000;
}
.boxshadow-checked{
	box-shadow: 5px 5px 10px 1px #808080;
}
.boxname{
	text-align: center;
	font-size: 20px;
	padding-bottom: 25px;
}
.shadow-area{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 22;
}
.attributes{
	width: 230px;
}
.removeattributebutton{
	height: 17px;
	width: 17px;
	border-radius: 100%;
	background-color:#669999;
	border-color: #557F7F;
	text-align: center;
	align-content: center;

}

div.selectable.window:hover div.ep {
    background-color: #e4e4e4;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.boxes {
  background: #bbc5d8;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  font: 20px/26px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #669999;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}