/* Copyright 2018 Sparta Consulting Oy */

@import url('http://fonts.googleapis.com/css?family=Montserrat');
@import url('http://fonts.googleapis.com/css?family=Montserrat:800');

body {
    font-family: 'Montserrat', sans-serif;
}