.btn-project-tab{
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin-bottom: 5px;
    margin-right: 5px;
}
.zero-size-element {
    height: 41px;
    position: relative;
}
.middle-aligned {
    vertical-align: middle !important;
}
.link-table {
    cursor: pointer;
}
#header {
    cursor: pointer;
}
.container {
    box-shadow: 0px 5px 5px 5px #cccccc;
}