a:visited.project-tab {
    color: #495057;
}
a:link.project-tab {
    color: #495057;
}
.nav-tabs {
    border: 0;
}
.btn-project-tab{
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin-bottom: 5px;
    margin-right: 5px;
}
.zero-size-element {
    height: 0;
    position: relative;
}
.role-control {
    display: inline;
    width: 60%;
}
.table-name{
    vertical-align: middle;
}
.middle-aligned {
    vertical-align: middle !important;
}
.link-table {
    cursor: pointer;
}
.settings-border {
    border-top: solid #dee2e6 1px;
    margin-bottom: 40px;
}
.settings-form {
    padding: 10px;
    border: solid #dee2e6 1px;
    border-radius: 10px;
    background-color: #fcfcfc;
    margin-bottom: 30px;
}
.form-header-warning {
    color: #f3ad15;
    margin-bottom: 10px;
    border-bottom: solid #dee2e6 1px;
}
.form-header-danger {
    color: #f31515;
    margin-bottom: 10px;
    border-bottom: solid #dee2e6 1px;
}
.form-button {
    margin-top: 15px;
}
.form-label{
    margin-bottom: 0;
}
.concept-search-input{
    position: absolute;
    left: 330px;
    bottom: 5px;
}
.icon-button {
    color: #0f0f0f;
    border: none;
    background: none;
    vertical-align: middle;
    transition: 800ms
}
.icon-button:hover {
    color: #ff0000;
    border: none;
    background: none;
    vertical-align: middle;
    cursor: pointer;
    transition: 200ms;
}