input[type="text"].searchbar {
    height: 24px;
    display: inline-block;
    border: none;
    outline: none;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    bottom: 10px;
    right: 170px;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }

  input[type="text"].searchbar:focus:hover {
    border-bottom: 1px solid #BBB;
  }

  input[type="text"].searchbar:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }
  input[type="submit"].searchbar {
    display: inline-block;
    float: right;
    text-indent: -10000px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 170px;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
  }

  input[type="submit"].searchbar:hover {
    opacity: 0.8;
  }

  .svg-36px{
      height: 36px;
      width: 36px;
  }