a.modal-start-page
{
    color:black;
    text-align: center;
}
.welcome-text{
   text-align: center;
    color: white;
    font-size: 80px;
}
.container-upper{
    height: 30vh;
    min-height: 300px;
    background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/68/74/1657b3cea5bb265.jpg) center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    vertical-align: middle;
    margin-top: 0;
}
.container-downer{
    background-color: white;   
    height: 45vh;
}
.presentation-boxes{
    
    margin: 20px 50px 20px 50px;
    background-color: white;
    text-align: center;
    height: 90%;
}
.presentation-box-btn{
    text-align: center;
    color: black;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);    
}
.error-text{
    color: red;
    font-size: 15px;
}
.nav-tabs>li>a {  
    color:#fff;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    color: #fff;
  }
  .nav-tabs>li.active>a:hover{
    color: #777777;
  }
  .nav-tabs>li>a:hover {
      color: #777777; 
  }
  a.title{
      font-size: 40px;
  }
