/* Copyright 2018 Sparta Consulting Oy */
/* **************************************** main_page **************************************** */
.projects {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}
.table-usm
{
    text-align: center !important;
    vertical-align: middle;
    width: 100%;
}
.table-usm-borderless{
    border: none;
    text-align: center !important;
}

#concept-img{
    margin-top: 20px;
}
.middle-aligned {
    width: 33%;
}

/* **************************************** navbar **************************************** */

.navbar {
    height: 75px;
}
.navbar-brand {
    font-size: 36px;
    letter-spacing: 0.1em;
    font-weight: 800;
}
.profile-dropdown{
    right: 0;
    left: auto;
}
.navbar-icon {
vertical-align: middle;
padding-right: 10px;
}
.navbar-dropdown{
    padding-left: 10px;
}
.dropdown-menu-right{
    left: auto !important;
    right: 0 !important;
}

/************************************** BreadCrumbs **************************************/
.breadcrumb {
    padding: 2px 15px !important;
}
.breadcrumb-container {
    margin-bottom: 35px;
}
.container {
    margin-top: 10px;
    box-shadow: 0px 3px 5px 5px #e6e6e6;
    padding-bottom: 10px;
    padding-top: 10px;
}