/* **************************************** main_page **************************************** */

.projects {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}
.table-usm
{
    text-align: center !important;    
}
.table-usm-borderless{
    border: none;
    text-align: center !important;
}

.navbar-usm{
    background-color: grey;
    color: red;    
}

.text-centered{
    text-align: center;
}
.bordered{
    border: 1px solid lightgray;
    border-radius: 2%;
}

#concept-img{
    margin-top: 20px;
}

a:link.link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited.link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}

/* **************************************** navbar **************************************** */

.navbar {
  background-color: #3671d1;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
h1 {
  margin-right: 3em;
  color: white;
  letter-spacing: 0.15em;
}
a:link.breadcrumb-link{
    color: rgb(87, 152, 226);
}
a:visited.breadcrumb-link{
    color: rgb(87, 152, 226);
}
.comment{
    margin: 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.cmt-left{
    margin: 0;
}
.cmt-right{
    margin: 0;
}
.cmt-sender{
    display: inline;
    margin: 0;
    font-weight: bold;
}
.cmt-msg{
    display: inline;
    margin: 0;
    padding-left: 10px;
}
.rmv-cmt{
    font-weight: bold;
    padding: 0 4px 0 4px;
    width: auto;
    height: auto;
}
.cmt-date{
    color: rgb(160, 160, 160);
}

/* **************************************** start_page **************************************** */

a.modal-start-page
{
    color:black;
    text-align: center;
}
.welcome-text{
   text-align: center;
    color: white;
    font-size: 80px;
}
.container-upper{
    background-color: #808080;   
    height: 45%;
}
.container-downer{
    background-color: white;   
    height: 45%;
}
.presentation-boxes{
    
    margin: 20px 50px 20px 50px;
    background-color: white;
    text-align: center;
    height: 90%;
}
.presentation-box-btn{
    text-align: center;
    color: black;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);    
}
