.form-control {
    text-align: left;
    width: 50%;
    
}
label {
    
    
}
button { 
   margin-right: 340px;
}
.table-usm
{
    text-align: center !important;
    
}

.navbar-usm{
    background-color: grey;
    color: red;    
} 

a:link{
    color:white;
    text-decoration: none;
}